.directory-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 60%;
  margin: 0 auto;
  perspective: 1000px;
}

.directory-card {
  background-color: white;
  border: 3pt solid black;
  border-radius: 8pt;
  margin: 10pt;
  padding: 10px;
  height: 200pt;
  transition: transform 0.2s ease, box-shadow 0.3s ease-in-out;
}

.directory-card:hover {
  box-shadow: 0 15px 30px rgba(255, 255, 255, 0.9);
}


/* Width calculated by numCol * width */
/* TODO: Fix the centering & math used here */
@media (max-width: 1200px) {
  .directory-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Width calculated by numCol * width */
/* TODO: Fix the centering & math used here */
@media (max-width: 900px) {
  .directory-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
