:root { 
  --primary-background: #f3f6f8;
  --primary-darker-background: #c2b8ac;
  --primary-text: #1a1d20;
  --primary-border: #1a1d20;
  --dark-navy: #181c2e;
  --navy: #212740;
  --light-navy: #2d324a;
  --lighter-gray: #c8c8c8;
  --light-gray: #1e1e1e;
  --black: black;

  --purple: #bb99ff;
  --light-purple: #f2ebff;
  --light-yellow: #feffc6;
  --bright-yellow: #dfff63;
  --orange: #ff7901;
  --red: #f87c72;
  --green: #72f88f;
  --blue: #A2D0FA;
}
#root {
  width: 90vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background: var(--primary-background);
  font-size: 14pt;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 50pt 0;
  font-size: 100pt;
  font-weight: 800;
  font-family: 'ibm-plex-mono', sans-serif;
  color: var(--navy);
  letter-spacing: -0.08em;
}

h2 {
  padding-left: 10pt;
  margin-top: 10pt;
  margin-bottom: 2pt;
}

.app-header-container {
}

.app-header-link {
  margin: 0 1pt;
  padding: 5pt 5pt 6pt 5pt;
  border-radius: 2pt;
  background: var(--lighter-gray);
  backdrop-filter: blur(10px);
  color: var(--white);
  font-family: 'Roboto Mono', comic-sans, sans-serif;
  font-weight: 300;
  font-size: 10pt;
}

.active {
  background: var(--navy);
  color: white;
}

.app-header-link:hover {
  background: var(--bright-yellow);
  color: var(--primary-text);
}

/* 
 *
 *
 * Debugging Link Styles BELOW
 *
 *
 * */


.NavButtonContainer {
  display: flex;
  width: 250pt;
  height: 100pt;
  margin: 10pt;
  align-items: center;
  justify-content: center;
  background: var(--orange);
  border: 1px solid var(--primary-border);
  border-radius: 8pt;
  box-shadow: 0 4px 6px rgba(0,0,0,0.4);
  opacity: 1;
  transition: all 0.3s ease;
}

.NavButtonContainer:hover {
  opacity: 0.8;
  transform: scale(1.05); /* Slightly enlarges the element */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
  background-color: #f0f0f0;
}

a {
  color: var(--primary-text);
  font-style: bold;
  font-size: 20pt;
  text-decoration: none;
}

a:hover {
  color: var(--primary-background);
}
.NavButtonGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(2, auto);
  width: 800px;
  margin: 0 auto; 
  justify-content: center; 
  align-items: center;
}

@media (max-width: 768px) { 
  .NavButtonGrid {
    grid-template-columns: 1fr; 
    grid-template-rows: auto; 
    width: 100%; 
    margin: 0 auto; 
    justify-content: center; 
    align-items: center;
  }
}

.NavButtonContainer:nth-child(odd) {
  background: var(--light-navy);
  color: white;
}

.NavButtonContainer:nth-child(even) {
  background: var(--light-gray);
  color: white;
}
