:root {
  --my-teel: #4ebdff;
}

.FormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid #383838;
  border-radius: 14pt; 
  padding: 20px; 
  max-width: 300pt; 
  margin: 0 auto; 
  background-color: #f1f1f1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  font-weight: 500;
}

.InputContainer:first-child {
  margin-top: 10pt;
}

.InputContainer {
  display: flex;
  flex-direction: column;
  padding: 5pt;
  width: 80%;
}

label {
  font-weight: 600;
  padding-bottom: 2pt;
}

.submit-button {
  margin: 20pt auto 10pt auto;
  font-weight: 600;
  background: var(--primary-background);
  height: 50pt; 
  width: 100pt;
  border: 2pt solid var(--primary-border);
  border-radius: 10pt;
  align-self: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.submit-button:hover {
  background: var(--primary-darker-background);
}

.create-account-input {
  text-align: center;
  border: 3pt solid #4F4F4F;
  background: white; 
  border-radius: 5pt;
  height: 30pt;
  font-size: 16px; 
  align-items: center;
}

/* Input focus style */
.create-account-input:focus {
    animation: flash-color 2s ease-in-out infinite; /* Apply the flashing red animation */
}

/* Flashing red animation */
@keyframes flash-color {
    0% {
        border-bottom-color: #009e4f;
    }
    50% {
        border-bottom-color: black;
    }
    100% {
        border-bottom-color: #009e4f;
    }
} 
