.pie-wrapper {
  height: 100pt;
  width: 100pt;
  margin: 15pt;

.pie {
  height: 100%;
  width: 100%;
  clip: rect(0, 1em, 1em, 1em / 2);
  left: 0;
  position: absolute;
  top: 0;

.half-circle {
  height: 100%;
  width: 100%;
  border: (1em / 10) solid #3498db
  border-radius: 50%;
  clip: rect(0, 1em / 2, 1em, 0);
  left: 0;
  position: absolute;
  top: 0;
}
}
}


