:root { 
  --primary-background: #f1e6d8;
  --primary-text: #1a1d20;
  --primary-border: #1a1d20;
  --purple: #bb99ff;
  --light-purple: #f2ebff;
  --light-yellow: #feffc6;
  --bright-yellow: #dfff63;
  --orange: #ff7901;
  --light-gray: #e8e8e8;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background: var(--primary-background)
}



