.dashboard-container {
  margin: 0pt;
}
.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.grid-item {
  border: 4px solid var(--primary-border);
  background: white;
}
