.onboarding-section-title {
  display: flex;
  width: 50vw;
  margin: 0 auto;
  flex-direction: column;
  align-items: flex-start;
}

.circle-checkbox {
  background: var(--red);
  margin-right: 15pt;
  height: 30pt;
  width: 30pt;
  border-radius: 15pt; /* 1/2 of height & width produces a circle */
}

.circle-checkbox:hover {
  background: var(--green);
  opacity: 0.7;
}
.circle-checkbox.complete:hover {
  background: var(--green);
  opacity: 1.0;
}

.circle-checkbox.complete {
  background: var(--green);
}

h1 {
  font-size: 70pt;
  color: var(--primary-text);
}

h2 {
  padding-left: 10pt;
  margin-top: 10pt;
  margin-bottom: 2pt;
}

table { 
  width: 50vw;
  border: 2px solid var(--primary-border); 
  border-radius: 10pt; 
  background: white;
  box-shadow: 0 4px 6px rgba(0,0,0,0.9);
}

tr:hover {
  background: var(--light-purple)
}

td {
  display: flex;
  align-items: center;
  height: 45pt;
  margin: 0;
  padding-left: 10pt;
  position: relative;
  text-align: left;
  border-bottom: 2px solid var(--primary-border);
}

tr:last-child td {
  border-bottom: none;
}
